<div>
  <h2 mat-dialog-title>New Client</h2>
  <form [formGroup]="entryForm" (ngSubmit)="submit()">
    <mat-dialog-content>
      <mat-form-field class="full-width">
        <input matInput placeholder="First Name" formControlName="firstName" required>
        <mat-error *ngIf="fc['firstName'].invalid">First Name is required</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Last Name" formControlName="lastName" required>
        <mat-error *ngIf="fc['lastName'].invalid">Last Name is required</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="fc['email'].invalid">Email is required</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Phone" formControlName="phone" required>
        <mat-error *ngIf="fc['phone'].invalid">Phone is required</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Address" formControlName="address" required>
        <mat-error *ngIf="fc['address'].invalid">Address is required</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="City" formControlName="city" required>
        <mat-error *ngIf="fc['city'].invalid">City is required</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="State" formControlName="state" required>
        <mat-error *ngIf="fc['state'].invalid">State is required</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Zip" formControlName="zip" required>
        <mat-error *ngIf="fc['zip'].invalid">Zip is required</mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-flat-button (click)="close()">Cancel</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="entryForm.invalid">Save</button>
    </mat-dialog-actions>
  </form>
</div>
